{
  "openapi": "3.1.0",
  "info": {
    "title": "Basalam OpenAPI Gateway",
    "version": "1.0.0",
    "description": "Filtered OpenAPI endpoints from core service"
  },
  "paths": {
    "/v1/products/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Product Search",
        "operationId": "product_search_ai_engine_api_v2_0_product_search_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductSearchModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FiltersModel": {
        "properties": {
          "freeShipping": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Freeshipping",
            "default": 0
          },
          "slug": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Slug",
            "default": "men-shirts"
          },
          "vendorIdentifier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vendoridentifier",
            "default": "maskbehrokh"
          },
          "maxPrice": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Maxprice",
            "default": 100000
          },
          "minPrice": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Minprice",
            "default": 0
          },
          "sameCity": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Samecity",
            "default": 0
          },
          "minRating": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Minrating",
            "default": 4
          },
          "vendorScore": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Vendorscore",
            "default": 0
          }
        },
        "type": "object",
        "title": "FiltersModel"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ProductSearchModel": {
        "properties": {
          "filters": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/FiltersModel"
              },
              {
                "type": "null"
              }
            ]
          },
          "q": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Q",
            "default": "\u0639\u0633\u0644"
          },
          "rows": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Rows",
            "default": 12
          },
          "start": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Start",
            "default": 0
          }
        },
        "type": "object",
        "title": "ProductSearchModel"
      }
    }
  },
  "servers": [
    {
      "url": "https://openapi.basalam.com",
      "description": "Production Gateway"
    }
  ]
}